<footer class="footer row py-5 border-top">
    <div class="col-lg-4 col-md-6 mb-3">
        <a href="#" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
            <img src="{{ROOT}}assets/images/ui/vitaliaLogoFooter.webp" alt="Logo de Vitalia" class="footer-logo">
        </a>
        <div class="footer-socials">
            <a href="https://www.facebook.com/profile.php?id=61565298270139" target="_blank" class="social-icon"
                aria-label="Facebook de Vitalia">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="https://www.instagram.com/vitalia.selfcare/" target="_blank" class="social-icon"
                aria-label="Instagram de Vitalia">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="mailto:vitalia.selfcare@gmail.com?subject=Consulta%20-%20Vitalia&body=Me%20comunicaba%20porque..."
                target="_blank" class="social-icon" aria-label="E-mail de Vitalia">
                <i class="bi bi-envelope-fill"></i>
            </a>
        </div>
        <div class="footer-links">
            <a href="{{ROOT}}assets/documentos/política-de-privacidad.pdf" target="_blank" class="footer-link">Políticas
                de
                Privacidad</a>
            <span class="separator">|</span>
            <a href="{{ROOT}}assets/documentos/términos-y-condiciones.pdf" target="_blank" class="footer-link">Términos
                y
                Condiciones</a>
        </div>
        <p class="text-body-secondary rights">&copy; 2024 Vitalia. Todos los derechos resevardos.</p>
    </div>

    <div class="col">
    </div>

    <div class="col-lg-2 col-md-6 mb-3 div-space">
        <h3 class="subtittle">Blog</h3>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{{ROOT}}blog.html#productividad"
                    class="nav-link p-0 text-body-secondary">Productividad</a></li>
            <li class="nav-item mb-2"><a href="{{ROOT}}blog.html#ejercicios"
                    class="nav-link p-0 text-body-secondary">Actividad física y emocional</a></li>
            <li class="nav-item mb-2"><a href="{{ROOT}}blog.html#alimentaciones"
                    class="nav-link p-0 text-body-secondary">Hábitos alimenticios</a></li>
            <li class="nav-item mb-2"><a href="{{ROOT}}blog.html#salud-mental"
                    class="nav-link p-0 text-body-secondary">Salud mental y bienestar</a></li>
        </ul>
    </div>

    <div class="col-lg-2 col-md-6 mb-3">
        <h3 class="subtittle">Mi espacio</h3>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{{ROOT}}mi-espacio.html#lecturas"
                    class="nav-link p-0 text-body-secondary">Artículos recomendados</a></li>
            <li class="nav-item mb-2"><a href="{{ROOT}}mi-espacio.html#ejercicios"
                    class="nav-link p-0 text-body-secondary">Rutinas de ejercicio</a></li>
            <li class="nav-item mb-2"><a href="{{ROOT}}mi-espacio.html#meditaciones"
                    class="nav-link p-0 text-body-secondary">Meditaciones</a></li>
            <li class="nav-item mb-2"><a href="{{ROOT}}mi-espacio.html#alimentaciones"
                    class="nav-link p-0 text-body-secondary">Planes alimenticios</a></li>
        </ul>
    </div>

    <div class="col-lg-2 col-md-6 mb-3">
        <h3 class="subtittle">Acerca de</h3>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{{ROOT}}index.html#que-es-vitalia"
                    class="nav-link p-0 text-body-secondary">¿Qué es Vitalia?</a></li>
            <li class="nav-item mb-2"><a href="{{ROOT}}index.html#preguntas-frecuentes"
                    class="nav-link p-0 text-body-secondary">Preguntas frecuentes</a>
            </li>
            <li class="nav-item mb-2"><a href="{{ROOT}}index.html#premium"
                    class="nav-link p-0 text-body-secondary">Planes
                    de suscripción</a></li>
        </ul>
    </div>
</footer>