@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/poppins/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/poppins/Poppins-Medium.ttf");
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    font-size: 13px;
    background-color: #F3F1EE;
    margin: 0;
    padding: 0;
    overflow: hidden;
    --sb-track-color: #e8e3df;
    --sb-thumb-color: #a5a29e;
    --sb-size: 8px;
}

#bg-responsive {
    display: none;
}

#bg-container {
  position: absolute;
  height: 100vh;
  width: auto;
  align-items: center;
}

#bg-container img {
  top: 50vh;
  height: 110vh;
  width: auto;
  transform:translateY(0%);
}

#header {
  width: 100vw;
  position: absolute;
  height: auto;
  align-items: center; 
  z-index: 1000;
  top: 4vh;
  user-select: none;
}

#header img {
  height: 20px;
  width: auto;
  margin: 24px 15vw;
  position: relative;
}

:focus {
    outline: none; 
}

textarea {
    resize: none; 
}

a {
    text-decoration: none; 
}

ul {
    list-style: none;
}

#img-contain {
    position: relative;
    z-index: 1;
    padding-left: 67.5vw;
    user-select: none;
}

#img-contain img {
    position: absolute;
    width: auto;
    top: -310.5px;
    height: 532.3px;
    user-select: none;
}

#title {
    position: absolute;
    z-index: 1000;
    transform: translate(15.3vw, -23vh);
}

#title h1 {
    padding: 0;
    margin-bottom: -10px;
    font-size: 20px;
}

#title p {
    color: #808080;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    border: none; 
}

select option[value=""][disabled] {
    display: none; 
}

.wrapper, form {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    align-items: center;
}

.steps .current-info, .wizard > .steps .number {
    display: none; 
}

#wizard {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #FFFBF7;
    height: 520px;
    width: 77.6vw;
    top: 46.5vh;
    transform: translate(13%, -53%);
    padding: 200px 15px 0;
    border-radius: 19px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1); 
}

.steps {
    position: absolute;
}

.steps ul {
    display: flex; 
}

.steps ul li a {
    align-items: center;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 50%;
    margin-right: 8px;
}
      
.steps ul li.current a {
    width: 22px;
    transition: all 0.5s ease;
    border-radius: 5.5px;
}
  
.form-header {
    display: flex; }

.form-header .form-group {
    width: 66.25%; 
}

section {
    display: flex;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
}

.form-row-scroll {
    height: 43vh;
    width: 51vw;
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.form-row-width {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
}

.form-control {
    width: 100%;
}

#accept-terms {
    align-items: center;
    display: flex;
    right: 20px;
}

#accept-terms a {
    padding: 0 2px;
}

#accept-terms p {
    padding-left: 10px;
}

.form-row-scroll::-webkit-scrollbar {
    width: var(--sb-size);
}

.form-row-scroll::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 25px;
}

.form-row-scroll::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 25px;
    border: 1px solid #e8e3df;
}

@supports not selector(::-webkit-scrollbar) {
    .form-row-scroll {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}
      
.form-row .form-holder:last-child {
    margin-right: 0; 
}
  
.form-holder {
    position: relative;
    padding-left: 26px;
    margin-bottom: 25px;
}
    
.form-holder:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    width: 10px;
    height: 10px;
    border: 2px solid #D5AAEA;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.form-holder.active:before {
    background: #D5AAEA; 
}
  
.form-control {
    height: 46px;
    border: none;
    background: #F3F1EE;
    width: 107%;
    padding: 0 25px;
    border-radius: 10px;
    color: #333; 
}

.form-control::-webkit-input-placeholder {
    color: #808080;
}

.form-control::-moz-placeholder {
    color: #808080;
}

.form-control::-ms-input-placeholder {
    color: #808080;
}

.form-control::-moz-placeholder {
    color: #808080;
}
  
.steps {
	position: absolute;
    left: 1.8vw;
    transform: translateY(-74.3vh);
    text-align: center;
	bottom: -50px;

	ul {
		display: flex;
        justify-content: center;
		li {
			display: flex;
			align-items: center;
			justify-content: center;
			a {
			    display: inline-block;
			    width: 10px;
			    height: 10px;
			    background: #D5AAEA;
			    border-radius: 50%;
			    margin-right: 8px;
			}

			&.current {
				a {
					width: 22px;
					transition: all 0.5s ease;
					border-radius: 5.5px;
				}
			}
		}
	}
}

.actions {
	ul {
		display: flex;
		&.actions-next {
			justify-content: space-between;
		}
	}

	li {
		a {
            bottom: -60px;
			border: none;
			display: inline-flex;
			height: 43px;
			width: 146px;
			align-items: center;
			background: #FFFBF7;
			cursor: pointer;
			position: fixed;
			padding-left: 33px;
			color: #000000;
			font-weight: 400;
			border-radius: 13px;
			margin-top: 10px;
			-webkit-transform: perspective(1px) translateZ(0);
			transform: perspective(1px) translateZ(0);
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
            left: -0px;
			&:hover {
				background-color: #eae6e2;
				&:before {
                    -webkit-transform: translateZ(0);
                    transform: translateZ(0);
                    font-size: 13px;
					-webkit-animation-duration: 1s;
					animation-duration: 1s;
					-webkit-animation-timing-function: ease-in-out;
					animation-timing-function: ease-in-out;
					-webkit-animation-iteration-count: 1;
					animation-iteration-count: 1;
				}
			}
		}
        
		&[aria-disabled="true"] {
			a {
			    display: none;
			}
		}

		&:first-child {
			a {
                left: 68.5vw;
				background-color: #FFFBF7;
				padding-left: 65px;
				
				&:hover {
					background-color: #eae6e2;
				}
			}
		}

		&:last-child {
			a {
                left: -0px;
                right: -45vw;
				padding-left: 46px;
				font-weight: 400;
                background-color: #9ffdf3;
                &:hover {
					background-color: #89d7cf;
				}
				&:before {
					right: 44px;
				}
			}
		}
	}
}

.actions li a:before {
    content: '\f301';
    position: absolute;
    top: 15px;
    right: 32px;
    font-family: Material-Design-Iconic-Font;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    font-size: 13px; 
    transition: ease (0.3s);
}
      
.actions li:first-child a:before {
    content: '\f2ff';
    right: 90px;
}

.actions li:last-child a:before {
    content: none;
}

/*Responsive*/

@media screen and (min-width: 500px) and (max-width: 523px) {
    #title {
        width: 73vw;
    }

    #title p {
        font-size: 12.3px;
    }
}

@media screen and (width < 549px) {
    #header img {
        margin: 15px 15vw;
    }

    .steps {
        bottom: -23px;
        left: -0.3vw;
    }

    #wizard {
        height: 570px;
        width: 86vw;
        transform: translate(10%, -53%);
        padding: 232px 0px 0;
        border-radius: 19px;
    }

    #accept-terms {
        width: 70vw;
    }

    .form-row-scroll {
        width: 72vw;
    }

    .form-row #edad {
        padding-right: 33px;
    }

    .form-row-width {
        width: 75%;
    }

    #img-contain img {
        display: none;
    }

    .actions {
        ul {
            display: flex;
            &.actions-next {
                justify-content: space-between;
            }
        }
    
        li {
                &:first-child {
                a {
                    left: 59vw;
                }
            }
        }
    }
}

@media screen and (min-width: 549px) {
    .steps {
        left: -1vw;
    }

    #img-contain img {
        display: none;
    }

    #accept-terms p {
        width: 60vw;
    }

    #wizard {
        padding: 200px 5px 0;
    }

    .form-row-scroll {
        width: 65vw;
    }

    .form-row-width {
        width: 68%;
    }

    .form-row #edad {
        padding-right: 25px;
    }

    .form-row {
        padding-right: 0px;
    }

    #title {
        width: 70vw;
    }

    #title h1 {
        font-size: 18.2px;
    }

    #title p {
        font-size: 12.2px;
    }

    .actions {
        ul {
            display: flex;
            &.actions-next {
                justify-content: space-between;
            }
        }
    
        li {
                &:first-child {
                a {
                    left: 51.5vw;
                }
            }
        }
    }
}

@media screen and (min-width: 760px) {
    .steps {
        left: 1.8vw;
    }

    #bg-responsive {
        display: none;
        position: absolute;
        height: 100vh;
        width: auto;
        align-items: center;
    }
        
    #bg-responsive img {
        top: 50vh;
        height: 110vh;
        width: auto;
        transform:translateY(0%);
    }

    #img-contain img {
        display: none;
    }

    #accept-terms p {
        width: 60vw;
    }

    .form-row-scroll {
        width: 65vw;
    }

    .actions {
        ul {
            display: flex;
            &.actions-next {
                justify-content: space-between;
            }
        }
    
        li {
                &:first-child {
                a {
                    left: 58.2vw;
                }
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .actions {
        ul {
            display: flex;
            &.actions-next {
                justify-content: space-between;
            }
        }
    
        li {
                &:first-child {
                a {
                    left: 59.2vw;
                }
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .actions {
        ul {
            display: flex;
            &.actions-next {
                justify-content: space-between;
            }
        }
    
        li {
                &:first-child {
                a {
                    left: 61vw;
                }
            }
        }
    }
}

@media screen and (min-width: 990px) {
    #img-contain {
        padding-left: 61.5vw;
        display: flex;
    }

    #bg-responsive {
        display: none;
    }

    #bg-container {
        display: flex;
    }

    .wizard {
        width: 95vw;
    }

    #img-contain img {
        display: flex;
        height: 470px;
        top: -248px;
    }

    #accept-terms p {
        width: 38vw;
    }

    .form-row-scroll {
        width: 45vw;
    }

    .form-row-width {
        width: 57%;
    }

    .actions {
        ul {
            display: flex;
            &.actions-next {
                justify-content: space-between;
            }
        }
    
        li {
                &:first-child {
                a {
                    left: 63vw;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    #img-contain {
        padding-left: 62vw;
    }
}

@media screen and (min-width: 1020px) {
    #img-contain {
        padding-left: 62.4vw;
    }
}

@media screen and (min-width: 1030px) {
    #img-contain {
        padding-left: 62.8vw;
    }
}

@media screen and (min-width: 1040px) {
    #img-contain {
        padding-left: 63vw;
    }
}

@media screen and (min-width: 1050px) {
    #img-contain {
        padding-left: 63.4vw;
    }
}

@media screen and (min-width: 1060px) {
    #img-contain {
        padding-left: 63.8vw;
    }
}

@media screen and (min-width: 1070px) {
    #img-contain {
        padding-left: 63.9vw;
    }
}

@media screen and (min-width: 1080px) {
    #img-contain {
        padding-left: 64vw;
    }

    .actions {
        ul {
            display: flex;
            &.actions-next {
                justify-content: space-between;
            }
        }
    
        li {
                &:first-child {
                a {
                    left: 64.5vw;
                }
            }
        }
    }
}

@media screen and (min-width: 1090px) {
    #img-contain {
        padding-left: 64vw;
    }
}

@media screen and (min-width: 1100px) {
    #img-contain {
        padding-left: 64.4vw;
    }
}

@media screen and (min-width: 1110px) {
    #img-contain {
        padding-left: 64.6vw;
    }
}

@media screen and (min-width: 1130px) {
    #img-contain {
        padding-left: 64.8vw;
    }
    
    .form-row-width {
        width: 60%;
    }
}

@media screen and (min-width: 1150px) {
    #img-contain {
        padding-left: 64.9vw;
    }
}

@media screen and (min-width: 1170px) {
    #img-contain {
        padding-left: 65.1vw;
    }
}

@media screen and (min-width: 1190px) {
    #img-contain {
        padding-left: 65.5vw;
    }
}

@media screen and (min-width: 1200px) {
    #img-contain {
        padding-left: 66vw;
    }
}


@media screen and (min-width: 1200px) {
    #img-contain {
        padding-left: 66vw;
    }

    .form-row-scroll {
        width: 49vw;
    }
}

@media screen and (min-width: 1215px) {
    #img-contain {
        padding-left: 66.3vw;
    }
}

@media screen and (min-width: 1230px) {
    #img-contain {
        padding-left: 66.5vw;
    }
}

@media screen and (min-width: 1245px) {
    #img-contain {
        padding-left: 67.1vw;
    }
}

@media screen and (min-width: 1260px) {
    #img-contain {
        padding-left: 67.3vw;
    }

    .form-row-scroll {
        width: 51vw;
    }
}

@media screen and (min-width: 1275px) {
    #img-contain {
        padding-left: 67.5vw;
    }
}

@media screen and (min-width: 1290px) {
    #img-contain {
        padding-left: 67.7vw;
    }
}

@media screen and (min-width: 1305px) {
    #img-contain {
        padding-left: 67.9vw;
    }
}

@media screen and (min-width: 1320px) {
    #img-contain {
        padding-left: 68.1vw;
    }
}

@media screen and (min-width: 1335px) {
    #img-contain {
        padding-left: 68.3vw;
    }
}

@media screen and (min-width: 1350px) {
    #img-contain {
        padding-left: 68.5vw;
    }

    .form-row-scroll {
        width: 53vw;
    }
}

@media screen and (min-width: 1365px) {
    #img-contain {
        padding-left: 68.7vw;
    }
}

@media screen and (min-width: 1380px) {
    #img-contain {
        padding-left: 68.9vw;
    }
}

@media screen and (min-width: 1395px) {
    #img-contain {
        padding-left: 69.1vw;
    }
}

@media screen and (min-width: 1399px) {
    #img-contain {
        padding-left: 69.5vw;
    }
}

@media screen and (min-width: 1410px) {
    #img-contain {
        padding-left: 69.7vw;
    }
    #header img {
        margin: 30px 15vw;
        position: relative;
    }
}

@media screen and (min-width: 1424px) {
    #img-contain {
        padding-left: 69.8vw;
    }
}

@media screen and (min-width: 1432px) {
    #img-contain {
        padding-left: 70vw;
    }
}

@media screen and (min-width: 1455px) {
    #img-contain {
        padding-left: 70.2vw;
    }
    #header img {
        margin: 5vh 15vw;
        position: relative;
    }
}

@media screen and (min-width: 1465px) {
    #img-contain {
        padding-left: 70.4vw;
    }
}

@media screen and (min-width: 1475px) {
    #img-contain {
        padding-left: 70.6vw;
    }
}