@import url('variables.css');

/* =========================================
   1. ANIMATION CLASSES
   ========================================= */

.js-active .article {
    opacity: 0;
    transform: translateY(-1.5%);
}

.js-active .title,
.js-active .article-title {
    opacity: 0;
    transform: translateY(-4%);
}

.js-active .image,
.js-active .responsive-table {
    opacity: 0;
    transform: translateY(-2%);
}

.introduction-container {
    color: var(--text-light-grey);
    font-size: 1rem;
}

.animate {
    animation: slideInTop 0.5s ease-out forwards;
}

.title.animate {
    animation-delay: 0.1s;
}

.article-title.animate {
    animation-delay: 0.2s;
}

.article.animate,
.responsive-table.animate {
    animation-delay: 0.3s;
}

.image.animate {
    animation-delay: 0.5s;
}

@keyframes slideInTop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    text-align: center;
    margin: 0 20px 60px 20px;
}

.title h3 {
    color: var(--text-subtitle);
    font-size: 18px;
    margin: 15px 0;
}

.title h1 {
    font-size: 26px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
}

.reading-time {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
}

.reading-time i {
    font-size: 18px;
}

.reading-time p {
    margin: 0;
}

.image {
    width: 100%;
    margin: 0 auto;
}

.image img {
    width: 100%;
    height: 300px !important;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin-top: 25px !important;
}

.item-indice {
    color: var(--teal);

    font-weight: 500;
    text-decoration: underline;
    transition: all 0.3 ease;
}

.item-indice:hover {
    color: var(--teal-hover);

}

.article {
    font-family: 'Zilla Slab', Times New Roman, serif;
    font-size: 20px;
    margin: 40px 0;
    text-align: justify;
    line-height: 1.5;
}

.article-title h2 {
    text-align: center;
    font-weight: 600;
    margin: 50px 0;
}

.underline {
    text-decoration-line: underline;
    text-decoration-color: var(--teal);
    text-decoration-thickness: 1.9px;
    text-decoration-style: wavy;
}

.container-table {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.responsive-table {
    max-width: 1400px;
    overflow-x: auto;
    border: 0.05px solid var(--border-color);

}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid var(--border-color);

    min-width: 150px;
}

td {
    font-family: 'Zilla Slab', Times New Roman, serif;
    font-size: 16px;
}

th {
    background-color: var(--bg-table-header);

    font-family: 'Poppins', Calibri, sans-serif;
    font-size: 16px;
}

td:first-child,
th:first-child {
    position: sticky;
    left: 0;
    background-color: var(--bg-table-header);

    z-index: 6;
    font-family: 'Poppins', Calibri, sans-serif;
}

@media (max-width: 600px) {

    th,
    td {
        padding: 5px;
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .article {
        margin: 40px 20px;
    }

    .image {
        padding: 0 20px;
    }
}

@media (max-width: 941px) {
    .article {
        font-size: 18px;
    }

    .title h3 {
        font-size: 18px;
    }

    .title h1 {
        font-size: 22px;
        text-align: center;
        font-weight: 600;
    }

    .title p {
        font-size: 16px;
    }

    .article-title h2 {
        font-size: 22px;
        margin: 30px 15px;
    }

    td:first-child,
    th {
        position: sticky;
        left: 0;
        background-color: var(--bg-table-header);

        z-index: 1;
        font-family: 'Poppins', Calibri, sans-serif;
        font-size: 15px;
    }
}