@import url('variables.css');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    background-color: var(--bg-main);
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

.pagina,
.pagina-2 {
    max-width: 1000px;
    margin: 0 auto;
}

.pagina {
    margin-top: 140px;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-main);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
}

body.loaded .loader-container {
    display: none;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}

.js-active .article {
    opacity: 0;
    transform: translateY(-1.5%);
}

.js-active .title,
.js-active .article-title {
    opacity: 0;
    transform: translateY(-4%);
}

.js-active .image,
.js-active .responsive-table {
    opacity: 0;
    transform: translateY(-2%);
}

.introduction-container {
    color: var(--text-light-grey);

    font-size: 1rem;
}

.animate {
    animation: slideInTop 0.5s ease-out forwards;
}

.title.animate {
    animation-delay: 0.1s;
}

.article-title.animate {
    animation-delay: 0.2s;
}

.article.animate,
.responsive-table.animate {
    animation-delay: 0.3s;
}

.image.animate {
    animation-delay: 0.5s;
}

@keyframes slideInTop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    text-align: center;
    margin: 0 20px 60px 20px;
}

.title h3 {
    color: var(--text-subtitle);
    font-size: 18px;
    margin: 15px 0;
}

.title h1 {
    font-size: 26px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
}

.reading-time {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
}

.reading-time i {
    font-size: 18px;
}

.reading-time p {
    margin: 0;
}

.image {
    width: 100%;
    margin: 0 auto;
}

.image img {
    width: 100%;
    height: 300px !important;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin-top: 25px !important;
}

.item-indice {
    color: var(--teal);

    font-weight: 500;
    text-decoration: underline;
    transition: all 0.3 ease;
}

.item-indice:hover {
    color: var(--teal-hover);

}

.article {
    font-family: 'Zilla Slab', Times New Roman, serif;
    font-size: 20px;
    margin: 40px 0;
    text-align: justify;
    line-height: 1.5;
}

.article-title h2 {
    text-align: center;
    font-weight: 600;
    margin: 50px 0;
}

.underline {
    text-decoration-line: underline;
    text-decoration-color: var(--teal);
    text-decoration-thickness: 1.9px;
    text-decoration-style: wavy;
}

.container-table {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.responsive-table {
    max-width: 1400px;
    overflow-x: auto;
    border: 0.05px solid var(--border-color);

}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid var(--border-color);

    min-width: 150px;
}

td {
    font-family: 'Zilla Slab', Times New Roman, serif;
    font-size: 16px;
}

th {
    background-color: var(--bg-table-header);

    font-family: 'Poppins', Calibri, sans-serif;
    font-size: 16px;
}

td:first-child,
th:first-child {
    position: sticky;
    left: 0;
    background-color: var(--bg-table-header);

    z-index: 6;
    font-family: 'Poppins', Calibri, sans-serif;
}

@media (max-width: 600px) {

    th,
    td {
        padding: 5px;
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .article {
        margin: 40px 20px;
    }

    .image {
        padding: 0 20px;
    }
}

@media (max-width: 941px) {
    .article {
        font-size: 18px;
    }

    .title h3 {
        font-size: 18px;
    }

    .title h1 {
        font-size: 22px;
        text-align: center;
        font-weight: 600;
    }

    .title p {
        font-size: 16px;
    }

    .article-title h2 {
        font-size: 22px;
        margin: 0 15px;
    }

    td:first-child,
    th {
        position: sticky;
        left: 0;
        background-color: var(--bg-table-header);

        z-index: 1;
        font-family: 'Poppins', Calibri, sans-serif;
        font-size: 15px;
    }
}


.ejercicios {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.ejercicios .container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.ejercicios .block {
    flex: 1 1 calc(25% - 15px);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.ejercicios .block .heading-time {
    margin-top: auto;
}

.ejercicios .block p {
    font-size: 18px;
    margin: 3px 0;
}

.ejercicios .heading-time h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
}

.ejercicios .reading-time {
    display: flex;
    align-items: center;
    gap: 5px;
}

.ejercicios .reading-time img {
    width: 18px;
    margin-right: 5px;
}

.ejercicios .reading-time p {
    font-size: 14px;
    margin: 0;
}

@media (max-width: 1200px) {
    .ejercicios .block {
        flex: 1 1 calc(50% - 15px);
        height: 300px;
    }

    .ejercicios .block .heading-time h3 {
        font-size: 18px;
    }

    .ejercicios .block p {
        font-size: 14px;
    }

    .ejercicios .reading-time img {
        width: 17px;
    }
}

@media (max-width: 468px) {
    .ejercicios .block {
        flex: 1 1 calc(100% - 15px);
        height: 280px;
    }
}

.bg-ejercicio-1 {
    background-image: url('../images/sections/rut1BloqueEjercicios.webp');
}

.bg-ejercicio-2 {
    background-image: url('../images/sections/rut2BloqueEjercicios.webp');
}

.bg-ejercicio-3 {
    background-image: url('../images/sections/rut3BloqueEjercicios.webp');
}

.bg-ejercicio-4 {
    background-image: url('../images/sections/rut4BloqueEjercicios.webp');
}