@import url('variables.css');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    background-color: var(--bg-main);
    margin: 0;
    padding: 0;
}

.pagina {
    margin-top: 100px;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fffcf4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
}

body.loaded #loader {
    display: none;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}



.welcome {
    opacity: 0;
    transform: translateY(-1.2%);
}

.articles .block,
.lecturas .block,
.reading .reading-section,
.welcome .welcome-section,
.thanks .thanks-section,
.audio-blocks .audio-block {
    opacity: 0;
    transform: translateY(-10%);
}

.articles .info-block,
.lecturas .info-block,
.ejercicios .block {
    opacity: 0;
    transform: translateY(-5%);
}

.animate {
    animation: slideInTop 0.5s ease-out forwards;
}

.welcome,
.reading .reading-section,
.welcome .welcome-section,
.thanks .thanks-section,
.articles .block.animate:nth-child(1),
.lecturas .block.animate:nth-child(1),
.lecturas .block.animate:nth-child(2),
.ejercicios .block.animate:nth-child(1),
.audio-blocks .audio-block.animate:nth-child(1) {
    animation-delay: 0.1s;
}

.articles .block.animate:nth-child(2),
.ejercicios .block.animate:nth-child(2),
.audio-blocks .audio-block.animate:nth-child(2) {
    animation-delay: 0.2s;
}

.articles .block.animate:nth-child(3),
.lecturas .block.animate:nth-child(3),
.lecturas .block.animate:nth-child(4),
.ejercicios .block.animate:nth-child(3),
.audio-blocks .audio-block.animate:nth-child(3) {
    animation-delay: 0.3s;
}

.articles .block.animate:nth-child(4),
.ejercicios .block.animate:nth-child(4),
.audio-blocks .audio-block.animate:nth-child(4) {
    animation-delay: 0.4s;
}

.articles .info-block.animate,
.lecturas .info-block.animate,
.lecturas .block.animate:nth-child(5),
.lecturas .block.animate:nth-child(6),
.audio-blocks .audio-block.animate:nth-child(5) {
    animation-delay: 0.5s;
}

.audio-blocks .audio-block.animate:nth-child(6) {
    animation-delay: 0.6s;
}

@keyframes slideInTop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.brightness {
    transition: all 0.3s ease !important;
    filter: brightness(0.96);
}

.brightness:hover {
    filter: brightness(1.02);
}

.welcome {
    background-image: url(../images/backgrounds/fondoDegradadoBlog.webp);
    height: 646px;
    background-size: 105%;
    width: calc(100vw - 50px);
    margin: 50px auto;
    max-width: 1200px;
    align-content: center;
    border-radius: 15px;
    max-width: 1150px;
    background-position: center;
}

.thanks {
    margin-top: 30px;
}

.welcome-section {
    text-align: center;
    padding: 20px;
}

.thanks-subtext {
    color: #707070;
    font-size: 19.2px;
    margin: 15px auto;
    max-width: 800px;
}

@media (max-width: 1200px) {
    .thanks-subtext {
        font-size: 16px;
    }

    .thanks-heading {
        font-size: 24px;
    }
}

.reading,
.thanks {
    padding: 40px 0;
}

.reading-section,
.thanks-section {
    text-align: center;
    padding: 20px;
}

.reading-content,
.thanks-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 1250px) {
    .welcome {
        background-size: cover;
    }
}

@media (max-width: 700px) {
    .welcome {
        background-image: url(../images/backgrounds/fondoDegradadoBlogResponsive.webp);
    }
}

@media (max-width: 480px) {
    .welcome {
        height: 550px;
    }
}

.reading-content,
.thanks-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.reading-icon {
    width: 24px;
    height: 24px;
}

.welcome-heading {
    color: #fff;
    font-weight: 600;
}

.reading-heading {
    font-size: 32px;
    margin: 0;
    color: #1f1f1f;
}

.welcome-subtext {
    color: #fff;
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto;
}

.reading-subtext {
    color: #707070;
    font-size: 19.2px;
    margin: 10px 0 0;
}

.container {
    view-timeline-name: --blocks;
    view-timeline-axis: block;
    animation-timeline: --blocks;
    animation-name: show;
    animation-range: entry 48% cover 50%;
    animation-fill-mode: both;
}

.articles {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.articles .container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.articles .block {
    flex: 1 1 calc(25% - 15px);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#productiv {
    background-image: url('../images/sections/productividadBloqueCateogrias.webp');
}

#ejercita {
    background-image: url('../images/sections/actfisicaBloqueCategorias.webp');
}

#alimentate {
    background-image: url('../images/sections/dietasBloqueCategorias.webp');
}

#salud {
    background-image: url('../images/sections/saludmentalBloqueCategorias.webp');
}

.content {
    text-align: center;
    color: #fff;
}

.content h3 {
    font-weight: 600;
    text-decoration: underline;
    margin: 0;
    font-size: 20px;
}

.content p,
.info-content p {
    font-size: 14.4px;
    margin: 5px 0 0;
}

#share-text {
    font-size: 22.4px;
    font-weight: 600;
}

@media (max-width: 1200px) {
    .articles .block {
        flex: 1 1 calc(50% - 15px);
    }

    .content h3,
    #share-text {
        font-size: 18px;
    }

    .content p,
    .info-content p {
        font-size: 12.8px;
        margin: 5px 0 0;
    }

    .welcome-heading {
        font-size: 24px;
    }

    .reading-heading {
        font-size: 22px;
    }

    .reading-icon {
        width: 20px;
        height: 20px;
    }

    .welcome-subtext {
        font-size: 16px;
    }

    .reading-subtext {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .articles .block {
        flex: 1 1 calc(100% - 15px);
    }
}

.info-block .info-content {
    max-width: 100%;
    margin: 0 auto;
}

.info-block .info-content h3 {
    text-decoration: none;
    font-weight: 600;
    max-width: 50%;
    margin: 10px auto 0 auto;
    font-size: 26px;
}

.info-block .info-content p {
    font-size: 16px;
}

.btn {
    display: inline-flex;
    align-items: center;
    background-color: #8b57b6;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.6s ease;
    font-family: 'Zilla Slab', Times New Roman, serif;
}

.btn i {
    font-size: 16px;
    margin-right: 8px;
    vertical-align: middle;
}

.btn:hover {
    background-color: #7139a0;
    transform: scale(1.05);
    color: #fff;
}

@media (max-width: 768px) {
    .btn {
        font-size: 14.4px;
        padding: 8px 16px;
    }

    .info-content h3 {
        font-size: 22.4px;
    }

    .info-block .info-content h3 {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    .info-content .btn {
        font-size: 12.8px;
        padding: 7px 14px;
    }

    .info-content .btn .btn-icon {
        width: 16px;
        margin-right: 6px;
    }

    .info-content h3 {
        font-size: 19.2px;
    }
}

@media (max-width: 900px) {
    .info-block .info-content h3 {
        max-width: 100%;
    }
}

.articles,
.lecturas,
.audio-blocks,
.ejercicios {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.lecturas .container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.lecturas .block {
    flex: 1 1 calc(50% - 15px);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.lecturas .block p {
    font-size: 14px;
    margin: 3px 0;
}

.lecturas .block h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0;
    width: calc(100% - 135px);
}

.lecturas .block .reading-time {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: auto;
}

.lecturas .block .reading-time i {
    font-size: 18px;
    margin-right: 2px;
}

.lecturas .block .reading-time p {
    font-size: 14px;
    margin: 0;
}

@media (max-width: 1200px) {
    .lecturas .block h3 {
        font-size: 16px;
        width: calc(100% - 80px);
    }

    .lecturas .block p {
        font-size: 12px;
    }

    .lecturas .block .reading-time img {
        width: 15px;
    }

    .articles,
    .lecturas,
    .audio-blocks,
    .ejercicios {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .lecturas .block {
        flex: 1 1 calc(100% - 15px);
        height: auto;
    }
}

#productividad1 {
    background-image: url('../images/sections/art1BloqueLecturas.webp');
}

#productividad2 {
    background-image: url('../images/sections/art2BloqueLecturas.webp');
}

#productividad3 {
    background-image: url('../images/articles/art1-fondo.webp');
}

#productividad4 {
    background-image: url('../images/articles/art2-fondo.webp');
}

#salud-mental1 {
    background-image: url('../images/sections/art3BloqueLecturas.webp');
}

#salud-mental2 {
    background-image: url('../images/sections/art4BloqueLecturas.webp');
}

#salud-mental3 {
    background-image: url('../images/articles/art3-fondo.webp');
}

#salud-mental4 {
    background-image: url('../images/articles/art4-fondo.webp');
}

@media (max-width: 991px) {
    #productividad1 {
        background-image: url('../images/sections/art1BloqueLecturasResponsive.webp');
    }

    #productividad2 {
        background-image: url('../images/sections/art2BloqueLecturasResponsive.webp');
    }

    #salud-mental1 {
        background-image: url('../images/sections/art3BloqueLecturasResponsive.webp');
    }

    #salud-mental2 {
        background-image: url('../images/sections/art4BloqueLecturasResponsive.webp');
    }

    #productividad3 {
        background-image: url('../images/articles/art1-fondo-responsive.webp');
    }

    #productividad4 {
        background-image: url('../images/articles/art2-fondo-responsive.webp');
    }

    #salud-mental3 {
        background-image: url('../images/articles/art3-fondo-responsive.webp');
    }

    #salud-mental4 {
        background-image: url('../images/articles/art4-fondo-responsive.webp');
    }
}

.ejercicios .container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.ejercicios .block {
    flex: 1 1 calc(25% - 15px);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.ejercicios .block .heading-time {
    margin-top: auto;
}

.ejercicios .block p {
    font-size: 18px;
    margin: 3px 0;
}

.ejercicios .heading-time h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
}

.ejercicios .reading-time {
    display: flex;
    align-items: center;
    gap: 5px;
}

.ejercicios .reading-time img {
    width: 18px;
    margin-right: 5px;
}

.ejercicios .reading-time p {
    font-size: 14px;
    margin: 0;
}

@media (max-width: 1200px) {
    .ejercicios .block {
        flex: 1 1 calc(50% - 15px);
        height: 300px;
    }

    .ejercicios .block .heading-time h3 {
        font-size: 18px;
    }

    .ejercicios .block p {
        font-size: 14px;
    }

    .ejercicios .reading-time img {
        width: 17px;
    }
}

@media (max-width: 468px) {
    .ejercicios .block {
        flex: 1 1 calc(100% - 15px);
        height: 280px;
    }
}

#ejercicio1 {
    background-image: url('../images/sections/rut1BloqueEjercicios.webp');
}

#ejercicio2 {
    background-image: url('../images/sections/rut2BloqueEjercicios.webp');
}

#ejercicio3 {
    background-image: url('../images/sections/rut3BloqueEjercicios.webp');
}

#ejercicio4 {
    background-image: url('../images/sections/rut4BloqueEjercicios.webp');
}

#dieta1 {
    background-image: url('../images/sections/plan1BloqueDietas.webp');
}

#dieta2 {
    background-image: url('../images/sections/plan2BloqueDietas.webp');
}

#dieta3 {
    background-image: url('../images/sections/plan3BloqueDietas.webp');
}

#dieta4 {
    background-image: url('../images/sections/plan4BloqueDietas.webp');
}

#dieta5 {
    background-image: url('../images/sections/plan5BloqueDietas.webp');
}

#dieta6 {
    background-image: url('../images/sections/plan6BloqueDietas.webp');
}

@media (max-width: 991px) {
    #dieta1 {
        background-image: url('../images/sections/plan1BloqueDietasResponsive.webp');
    }

    #dieta2 {
        background-image: url('../images/sections/plan2BloqueDietasResponsive.webp');
    }

    #dieta3 {
        background-image: url('../images/sections/plan3BloqueDietasResponsive.webp');
    }

    #dieta4 {
        background-image: url('../images/sections/plan4BloqueDietasResponsive.webp');
    }

    #dieta5 {
        background-image: url('../images/sections/plan5BloqueDietasResponsive.webp');
    }

    #dieta6 {
        background-image: url('../images/sections/plan6BloqueDietasResponsive.webp');
    }
}

.footer {
    margin: 15px auto 0 auto;
    padding: 80px;
    background-image: url(../images/backgrounds/degradadoFondoFooter.webp);
    background-size: cover;
    background-position: center;
    border-radius: 50px 50px 0 0;
    width: 100%;
}

.div-space {
    margin-left: auto;
}

.footer-logo {
    margin: 5px 0;
    margin-left: -5px;
    width: 146px;
    height: 35px;
    align-self: center;
    filter: brightness(100);
}

.footer-socials {
    display: flex;
    gap: 15px;
    margin: 12px 0;
    align-items: center;
}

.social-icon i {
    font-size: 24px;
    color: #fffcf4;
    transition: all 0.3s ease;
}

.social-icon:hover i,
.footer-link:hover {
    color: #c9fff3;
}

.rights {
    margin: 15px 0;
}

.footer-link {
    text-decoration: underline;
    font-size: 16px;
    transition: all 0.3s ease;
    color: #fffcf4;
}

.footer .nav-link {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
}

.footer .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #c9fff3;
    position: absolute;
    left: 0;
    transition: width 0.3s ease-in;
}

.footer .nav-link:hover::after {
    width: 100%;
}

.footer .nav-link:hover {
    color: #c9fff3;
}

.separator {
    margin: 0 10px;
    color: #fffcf4;
}

.text-body-secondary {
    color: #ffffff !important;
}

.subtittle {
    color: #fff !important;
    text-decoration: underline;
    font-weight: 700;
    margin: 15px 0 !important;
    font-size: 20px;
}

@media (max-width: 1200px) {
    .footer {
        padding: 60px;
        border-radius: 25px 25px 0 0;
    }
}

@media (max-width: 768px) {
    .footer-link {
        font-size: 14px;
    }

    .text-body-secondary {
        font-size: 14px !important;
    }

    .subtittle {
        font-size: 16px;
    }

    .footer-logo {
        height: 28px;
        width: 117px;
    }

    .social-icon i {
        font-size: 22px;
    }
}