.card-swap-container {
    position: relative;
    /* changed from absolute to flow better in col */
    width: 100%;
    height: 100%;
    transform: none;
    /* removed fixed transform */
    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 900px;
    overflow: visible !important;
    /* Ensure cards can fly out */
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    /* Softer corners */
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: #fff;
    width: 100%;
    /* Fallback */

    transform-style: preserve-3d;
    will-change: transform;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
    .card-swap-container {
        transform: scale(0.9);
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .card-swap-container {
        transform: scale(0.85);
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .card-swap-container {
        transform: scale(0.65);
        margin-top: 10px;
    }
}